<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Arthur Dacenko-Boos">
    <meta name="description" content="S1ke Beats official website. You can download, listen and see all my music here." />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RELXFM2RMR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-RELXFM2RMR');
    </script>
    {% block title %}<title>S1ke Beatstore</title>{% endblock %}
    {% load static i18n %}
    <link href="{% static 'images/S_backed.svg' %}" rel="shortcut icon" type="image/png">
    <link rel="preload" as="image" href="{% static 'images/pause.svg' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.min_major_15.css' %}">
</head>
<body {% block background %}{% endblock %}>
    {% include 'blocks/overlay_major.html' %}
    <main>
        <header>
            <div class="overlayedActive logo">
                <a title="Main page" href="{% url 'index' %}" class="logo__link">
                    <img class="logo__icon" src="{% static 'images/S.svg' %}">
                    <span class="logo__text">s1kebeats</span>
                </a>
            </div>
            <nav class="overlayedActive navigation navigation_header">
                <a title="Main page" href="{% url 'index' %}" class="navigation_header__link">{% trans "Home" %}</a>
                <a title="Beats page" href="{% url 'beats' %}" class="navigation_header__link">{% trans "Beats" %}</a>
                <a title="Usage page" href="{% url 'terms' %}" class="navigation_header__link">{% trans "Usage" %}</a>
            </nav>
            <button title="Toggle menu" class="overlay_button">
                Menu
            </button>
        </header>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="footer__row footer__row_top">
            <div class="footer__col footer__col_left">
                <p title="2021s1kebeats" class="copyright">2021s1kebeats</p> 
            </div>
            <div class="footer__col footer__col_right">
                <ul class="socials">
                    <li class="socials__item">
                        <a href="https://vk.com/s1kebeats" class="socials__link socials__link_vk" target="_blank" title="VK Group">
                            &nbsp;
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="https://www.youtube.com/channel/UC7dV_5X2kbLohHHUu5Ckdmw" class="socials__link socials__link_youtube" target="_blank" title="Youtube Channel">
                            &nbsp;
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    {% block additional_script %}{% endblock %}
    <script src="{% static 'js/app.min_0.11.js' %}"></script>
</body>
</html>