{% load static i18n %}  
<div class="overlay">
    <div class="language-switcher">
        <form class="language-form" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <div class="language-form__buttons">
                <button title="Russian Language" type="submit" value="ru" class="language-form__button language-form__button_ru " name="language">&nbsp;</button>
                <button title="English Language" type="submit" value="en" class="language-form__button language-form__button_eng" name="language">&nbsp;</button>
            </div>
        </form>
    </div>
</div>