{% extends "eng/base_eng.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/terms.css' %}">   
<link rel="stylesheet" href="{% static 'css/beats_best.css' %}">
{% endblock %}


{% block title %}<title>Terms of use</title>{% endblock %}

{% block content %}
<p class="title">Terms of use</p>
<section class="terms">
    <p>
        All beats are free to use, but you must write me into the name of your song:
    </p>
    <img alt="use 'prod. by s1kebeats' in the name of your song" src="{% static '/images/credit.png' %}">
</section>
<p class="title">Most popular</p>
<div class="beats">
    <div class="beats-wrapper">
    {% if beat_list %}
        {% for beat in beat_list %}
            <div class="beat-wrapper">
                <div class="beat-left">
                    <img alt="wrap-image" class="wrap" src="{{ beat.wrap.url }}" width="158px" height="158px">
                </div>
                <div class="beat-right">
                    <div class="beat-char">
                        <div class="char-title">Name</div>
                        <div class="char-value"><div>{{beat.name}}</div></div>
                    </div>
                    <div class="beat-char">
                        <div class="char-title">Artist</div>
                        <div class="char-value"><div>{{beat.display_artist}}</div></div>
                    </div>
                    <div class="beat-char">
                        <div class="char-title">Bpm</div>
                        <div class="char-value"><div>{{beat.bpm}}</div></div>
                    </div>
                    <div class="player">
                        <div class="player-wrapper">
                            <audio src="{{ beat.mp3.url }}" preload="auto"></audio>
                            <a href="{{ beat.wave.url }}" class="download"  download="" title="download .wave">&nbsp</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>There is no beats.</p>
            {% endif %} 
        </div>
    <div class="viewallbeats">
        <a href="{% url 'beats' %}">View all beats </a>
    </div>
{% endblock %}
