<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="author" content="Arthur Dacenko-Boos">
    <meta name="description" content="S1ke Beats official website. You can download, listen and see all my music here." />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}<title>S1ke Beatstore</title>{% endblock %}

    {% load static %}
    <link href="{% static '/images/S_backed.svg' %}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/player.css' %}">

    <script src="{% static 'player.js' %}"></script>
    <script>
        audiojs.events.ready(function() {
          var as = audiojs.createAll();
        });
    </script>

    {% block css %}{% endblock %}
</head>
<body>
    <main>
        <header>
            <div class="title-wrapper">
                <a href="{% url 'index' %}">
                    <img class="icon" src="{% static 'images/S.svg' %}">
                    <p>s1kebeats</p>
                </a>
            </div>
            <nav>
                <a href="{% url 'index' %}" class="#">Home</a>
                <a href="{% url 'beats' %}" class="#">Beats</a>
                <a href="{% url 'terms' %}" class="#">Usage</a>
            </nav>
        </header>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="footer-top">
            <div class="top-left">
                <nav>
                    <a href="{% url 'index' %}" class="#">Home</a>
                    <a href="{% url 'beats' %}" class="#">Beats</a>
                    <a href="{% url 'terms' %}" class="#">Usage</a>
                </nav>
            </div>
            <div class="top-right">
                <ul class="socials">
                    <li>
                        <a href="https://vk.com/s1kebeats" class="vk" target="_blank" title="VK Group">&nbsp</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UC7dV_5X2kbLohHHUu5Ckdmw" class="youtube" target="_blank" title="Youtube Channel">&nbsp</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="bottom-left"><hr align="left">
                <p class="icons">Icons: <a href="https://www.freepik.com" title="Freepik">Freepik, IYAHICON, Webalys, Roundicons Premium</a> from <a
                    href="https://www.flaticon.com/ru/" title="Flaticon">www.flaticon.com</a>
                </p>
            </div>
            <div class="bottom-right">
                <hr>
                <p class="copy">2021s1kebeats</p> 
            </div>
        </div>
    </footer>
</body>
</html>