body {
    background-image: url('../images/background.svg');
}

.beats {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
}
.beats-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    justify-content: center;
}
.wrap {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.beat-wrapper {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 160px;
    margin-left: 1%;
    margin-block: 1%;
    background: white;
    text-align: center;
    border-radius: 10px;
}
.beat-right {
    border: 1px solid #e5e8eb;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: calc(100% - 160px);
    padding-inline: 5%;
    padding-block: 2%;
}
.beat-char {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    font-size: 1.6rem;
}
.beat-char div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.char-title {
    -webkit-box-flex: 1;
        -ms-flex: 1 40%;
            flex: 1 40%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100%;
    font-weight: 500;
}
.char-value {
    -webkit-box-flex: 1;
        -ms-flex: 1 60%;
            flex: 1 60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    padding: 5px;
}
.char-value div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    color: #04111dbf;
    font-weight: 500;
    border-radius: 10px;
}
.viewallbeats {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2%;
}
.viewallbeats a {
    -webkit-transition: color .3s;
    transition: color .3s;
    font-size: 2.3rem;
    color: #b1b1b1;
}
.viewallbeats a:hover {
    color: #04111dbf;
}
@media screen and (max-width: 339px) {
    .wrap {
        width: 110px;
        height: 110px;
    }
    .beats-wrapper {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .beat-wrapper {
        box-sizing: content-box;
        width: 90%;
        height: 110px;
        margin-left: 0;
        margin-top: 2.5%;
    }
    .beat-right {
        padding-inline: 1%;
        padding-block: 1%;
        width: calc(100% - 110px);
    }
    .beat-char {
        height: 20px;
        font-size: 1.5rem;
    }
    .beats {
        border-top: none;
    }
}

@media screen and (min-width: 340px) and (max-width: 524px) {
    .beats-wrapper {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .beat-wrapper {
        width: 90%;
        height: 120px;
        margin-left: 0;
        margin-top: 2.5%;
    }
    .beat-right {
        padding-inline: 2.5%;
        padding-block: 1%;
        width: calc(100% - 120px);
    }
    .beat-char {
        height: 25px;
        font-size: 1.5rem;
    }
    .beats {
        border-top: none;
    }
    .wrap {
        width: 120px;
        height: 120px;
    }
}
@media screen and (min-width: 525px) {
    .beat-wrapper {
        width: 500px;
    }
}