{% extends "eng/base_eng.html" %}
{% load static %}

{% block css%}    
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<link rel="stylesheet" href="{% static 'css/beats.css' %}">
{% endblock %}

{% block content %}
<p class="title">Search</p>
<section class="search-beats">
    <!-- Search -->
    <div class="search-wrapper">
    <div class="search">
        <form action="{% url 'beats' %}" method="get" class="search-form">
            <div class="form-top">
                <!-- BPM -->
                <div class="form-section">
                    <p>Bpm</p>
                    <input class="form-field" type="number" size="3" name="bpm" min="87" max="160" placeholder="s1ke">
                </div>
                <!-- Name -->
                <div class="form-section">
                    <p>Name</p>
                    <input class="form-field field-name" type="text" placeholder="beats" name="nm">
                </div>
            </div>
            <div class="form-bottom">
                <div class="form-section">
                    <p>Artist</p>
                        <!-- Artist -->
                        <ul>
                            {% for artist in view.get_artists%}
                            <li>
                                <input type="checkbox" class="checkbox" name='artist' placeholder="{{ artist.name }}" value="{{ artist.id }}">
                                <label for="artist">{{ artist.name }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
            <div class="search-button"><button type="submit">Search</button></div>
        </form>
    </div>
    </div>
    <!-- Beats -->
    <div class="beats">
        <div class="pagination-downer">
        <div class="beats-wrapper">
        {% if beat_list %}
            {% for beat in beat_list %}
                <div class="beat-wrapper">
                    <div class="beat-left">
                        <img alt="wrap-image" class="wrap" src="{{ beat.wrap.url }}" width="158px" height="158px">
                    </div>
                    <div class="beat-right">
                        <div class="beat-char">
                            <div class="char-title">Name</div>
                            <div class="char-value"><div>{{beat.name}}</div></div>
                        </div>
                        <div class="beat-char">
                            <div class="char-title">Artist</div>
                            <div class="char-value"><div>{{beat.display_artist}}</div></div>
                        </div>
                        <div class="beat-char">
                            <div class="char-title">Bpm</div>
                            <div class="char-value"><div>{{beat.bpm}}</div></div>
                        </div>
                        <div class="player">
                            <div class="player-wrapper">
                                <audio src="{{ beat.mp3.url }}" preload="auto"></audio>
                                <a href="{{ beat.wave.url }}" class="download"  download="" title="download .wave">&nbsp</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p style="font-size: 2rem; margin: 1%">No mathes found.</p>
                {% endif %} 
            </div>
        </div>
                <section class="pagination">
                    <div class="pagination-wrapper">
                        {% if page_obj.has_previous %}
                        <div class="page-styled">
                            <a href="?page={{ page_obj.previous_page_number }}"><</a></a>
                        </div>
                        {% endif %}
                        <div class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </div>
                        {% if page_obj.has_next %}
                        <div class="page-styled">
                            <a href="?page={{ page_obj.next_page_number }}">></a>
                        </div>
                        {% endif %}
                    </div>
                </section>
    </div>
</section>

{% endblock %}


{% block lang %}{% url 'beats' %}{% endblock %}