<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="author" content="Arthur Dacenko-Boos">
    <meta name="description" content="S1ke Beats official website. You can download, listen and see all my music here. All beats on the website are free, but you are allowed to follow the usage rules." />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}<title>S1ke Beatstore</title>{% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">

    {% load static %}
    <link href="{% static '/images/S.png' %}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="{% static '/style.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <main>
    <header class="padded">
        <a href="{% url 'index_ru' %}">S1KEBEATS</a>
        <nav>
            <a href="#" class="#">Артисты</a>
            <a href="#" class="#">Новости</a>
            <a href="#" class="#">Биты</a>
        </nav>
    </header>
        {% block content %} {% endblock %}
</main>
    <footer>
        <div class="footer-mid">
            <div class="top-left">
                <p class="footer-rights">
                    {% block link %}<a href="{% url 'terms_ru' %}">Правила использования</a>{% endblock %}
                </p>
            </div>
            <div class="top-right">
                <ul class="socials">
                    <li><a href="https://vk.com/s1kebeats" class="vk" target="_blank" title="VK Group">&nbsp</a></li>
                    <li><a href="https://www.youtube.com/channel/UC7dV_5X2kbLohHHUu5Ckdmw" class="youtube" target="_blank"
                            title="Youtube Channel">&nbsp</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="bottom-left"><hr align="left">
                <p class="icons">Icons: <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
                    href="https://www.flaticon.com/ru/" title="Flaticon">www.flaticon.com</a></p>
            </div>
            <div class="bottom-right">
                <hr>
                <p class="copy">2021s1kebeats <a href="{% block lang %} {% endblock %}" class="ru" title="Switch to English version">&nbsp</a></p>

            </div>
        </div>
    </footer>
    <script src="{% static 'player.js' %}"></script>
</body>
</html>