{% extends "ru/base_ru.html" %}
{% load static %}
<link rel="preload" as="image" href="{% static '/images/arrow-hover.png' %}">

{% block content %}
<section class="promo">
    <p class="promo-title">Последнее на YouTube</p>
    <iframe src="https://www.youtube.com/embed/V2OjQ2gHK6E" alt="youtube player"title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
</section>
<p class="title">Лучшее</p>
<section class="beats">

    {% if beat_list %}

      {% for beat in beat_list %}

      <div class="beat-wrapper">
        <div class="beat-left">
            <img alt="wrap-image" class="wrap" src="{{ beat.wrap.url }}" width="130px" height="130px">
        </div>
        <div class="beat-right">
            <div class="beat-char">
                <div class="char-title">НАЗВАНИЕ</div>
                <div class="char-value">{{beat.name}}</div>
            </div>
            <div class="beat-char">
                <div class="char-title">АРТИСТ</div>
                <div class="char-value">{{beat.display_artist}}</div>
            </div>
            <div class="beat-char">
                <div class="char-title">BPM</div>
                <div class="char-value">{{beat.bpm}}</div>
            </div>
            <div class="player">

                <div class="timeline"><div class="progress"></div></div>

                <div class="controls">

                    <div class="play-container">
                        <div class="toggle-play play"></div>
                    </div>

                    <div class="time">
                        <div class="current">0:00</div>
                        <div class="divider">/</div>
                        <div class="length"></div>
                    </div>

                    <div class="volume-container">
                        <div class="volume-button">
                            <div class="volume icono-volumeMedium">&nbsp</div>
                        </div>

                        <div class="volume-slider">
                            <div class="volume-percentage"></div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
      {% endfor %}
    {% else %}
      <p>Битов нет.</p>
    {% endif %} 
    
    <div class="viewallbeats">
        <a class="ru-link" href="{% url 'beats_ru' %}">Посмотреть все биты </a>
    </div>
</section>
{% endblock %}

{% block lang %}{% url 'index_eng' %}{% endblock %}