{% extends "blocks/base.html" %}
{% load static i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/search_0.1.css' %}">
<link rel="stylesheet" href="{% static 'css/pagination_0.1.css' %}">
{% endblock %}

{% block content %}
<section class="search-section">
    <h1 class="section__title">{% trans "Search" %}</h1>
    <div class="search-beats">
        <div class="search">
            <form action="{% url 'beats' %}" method="get" class="search__form">
                <div class="form__row">
                    <div class="form__col form__col_bpm">
                        <p class="form__col_title">Bpm</p>
                        <input class="form__col_input" type="number" size="3" name="bpm" min="87" max="160" placeholder="s1ke">
                    </div>
                    <div class="form__col form__col_name">
                        <p class="form__col_title">{% trans "Name" %}</p>
                        <input class="form__col_input" type="text" placeholder="beats" name="nm">
                    </div>
                </div>
                <div class="form__row">
                    <div class="form__col">
                        <p class="form__col_title">{% trans "Artist" %}</p>
                        <ul class="artist-select">
                            {% for artist in view.get_artists%}
                            <li class="artist-select_item">
                                <input type="checkbox" class="checkbox" name='artist' placeholder="{{ artist.name }}" value="{{ artist.id }}">
                                <label class="artist-select_label" for="artist">{{ artist.name }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="form__button"><button class="search__button" type="submit">{% trans "Search" %}</button></div>
            </form>
        </div>
        <!-- Beats -->
        <div class="beats">
            <div class="beats-wrapper">
                <div class="vertical">
                {% if beat_list %}
                {% for beat in beat_list %}
                <div class="beat-wrapper">
                    <div class="beat__col beat__col_left">
                        <img alt="wrap-image" class="wrap" src="{{ beat.wrap.url }}" width="160px" height="160px">
                    </div>
                    <div class="beat__col beat__col_right">
                        <div class="beat__char">
                            <div class="beat__char_title">{% trans "Name" %}</div>
                            <div class="beat__char_value">{{beat.name}}</div>
                        </div>
                        <div class="beat__char">
                            <div class="beat__char_title">{% trans "Artist" %}</div>
                            <div class="beat__char_value">{{beat.display_artist}}</div>
                        </div>
                        <div class="beat__char">
                            <div class="beat__char_title">Bpm</div>
                            <div class="beat__char_value">{{beat.bpm}}</div>
                        </div>
                        <div class="beat__player">
                                <audio src="{{ beat.mp3.url }}"></audio>
                                <a href="{{ beat.wave.url }}" class="download"  download="" title="{% trans "download .wave" %}">&nbsp</a>
                        </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                <p class="search__notfound">{% trans "No mathes found." %}</p>
                {% endif %} 
                </div>
            </div>
            {% include 'blocks/pagination.html' %}
        </div>
    </div>
</section>
{% endblock %}