<div class="pagination">
    <span class="step-links">
        {% if page_obj_beats.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj_beats.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj_beats.number }} of {{ page_obj_beats.paginator.num_pages }}.
        </span>

        {% if page_obj_beats.has_next %}
            <a href="?page={{ page_obj_beats.next_page_number }}">next</a>
            <a href="?page={{ page_obj_beats.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>