{% extends "blocks/base_major.html" %}
{% load static i18n %}

{% block content %}

{% include 'blocks/youtube_latest_major.html' %}
{% include 'blocks/beats_popular_major.html' %}

{% endblock %}

{% block additional_script %}
<script>
    const url = 'https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&playlistId=UUwiS4Xhzg6LH_tmIMsfQRcA&maxResults=1&key={{ youtube_api_key }}'
    const iframe = document.querySelector('.youtube_video');

    fetch(url)
        .then(response => response.json())
        .then(data => {
            id = data.items[0].snippet.resourceId.videoId;
            iframe.setAttribute('src', `https://www.youtube.com/embed/${id}`);
        })
        .catch(
            console.log(error)
        );
</script>
{% endblock %}