{% extends "blocks/base.html" %}
{% load static i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/terms_0.1.css' %}">
{% endblock %}

{% block title %}<title>{% trans "Terms of use" %}</title>{% endblock %}

{% block content %}
<h1>Terms of use</h1>
<section class="terms">
    <p class="terms__text">
        {% trans "All beats are free to use, but you must write me into the name of your song:" %}
    </p>
    <img class="terms__image" alt="use 'prod. by s1kebeats' in the name of your song" src="{% static 'images/credit.png' %}">
</section>
{% include 'blocks/beats_popular.html' %}
{% endblock %}
